{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'menu.html'%}

<div class="formulaire">
<form method="POST" action="">
    {% csrf_token %}
    <div class="item_formulaire">
        <label for="id_date">Date:</label>
        <input type="date" name="date" required id="id_date">
    </div>
    <div class="item_formulaire">
        <label for="id_intitulé">Horaire-intitulé:</label>
        <input type="text" name="intitulé" maxlength="100" required id="id_intitulé">
    </div> 
    <div class="item_formulaire">
        <label for="bouton">Texte Bouton : </label>
        <input type="text" name="text_bouton" maxlength="100" id="id_text_bouton">
    </div> 
    <div class="item_formulaire">
        <input type="radio" id="sans_inscription" name="type_creneau" value="libre" checked />
        <label for="sans_inscription"> créneau libre </label>
    </div>
    <div class="item_formulaire">
        <input type="radio" id="avec_inscription" name="type_creneau" value="inscription"  />
        <label for="avec_inscription"> créneau avec inscription </label>
    </div>
    <div class="item_formulaire">
        <input type="radio" id="lien" name="type_creneau" value="lien"  />
        <label for="lien"> créneau avec lien HTML </label>
    </div>
    <div class="item_formulaire">
        <label for="id_text_lien">lien HTML : </label>
        <input type="text" name="text_lien" maxlength="100" id="id_text_lien">  
    </div> 
    


    <input type="submit" value="Créer le créneau"/>
</form>
<div>
    <label class="round green pointer" onclick="jeu_libre_classique()"> Jeu libre classique</label><BR>
    <label class="round green pointer" onclick="jeu_libre_inscription()"> Jeu libre avec inscription</label><BR>
    <label class="round green pointer" onclick="cmb()"> Crazy Morning</label><BR>
    <label class="round green pointer" onclick="avec_lien()"> Lien HTML</label>

</div>
</div><BR>

Rappel des créneaux existants :
<ul> {% for x in creneaux %}
    <li> {{ x.date }} : {{ x.intitulé }}  {% if x.type_creneau == 1 %} -- <span class="blue"> avec inscription </span> {% endif %}  </li>{% endfor %}
</ul>
<script src="{% static 'js/java_admin.js' %}?=3"defer ></script>
{% endblock body %}


    
    