{% extends 'base.html' %}

{% block body %}
{% include 'menu.html'%}
<BR> {% if msg %} <span class="cred">{{ msg }} </span> <BR><BR> {% endif %}
<fieldset class="formulaire">
    <legend>Formulaire pour changer de mot de passe</legend>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="item_formulaire">
            <label for="password">Ancien mot de passe : </label>
            <input type="password" name="password" maxlength="100" required id="password">
        </div> 
        <div class="item_formulaire">
            <label for="newpassword">Nouveau mot de passe : </label>
            <input type="password" name="newpassword" maxlength="100" required id="newpassword">
        </div> 
        <div class="item_formulaire">
            <label for="newpassword_confirm">Nouveau mot de passe (confirmation) : </label>
            <input type="password" name="newpassword_confirm" maxlength="100" required id="newpassword_confirm">
        </div> 
        <input type="hidden" name="action" value="change password">
        <input type="submit" value="Valider le changement de mot de passe"/>
    </form>
</fieldset>
<BR>

    <fieldset class="formulaire">
        <legend>Réglages spécifiques à ce compte</legend>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="item_formulaire">
                <label for="prenom">Prénom/surnom : </label>
                <input type="text" name="prenom" maxlength="100" required id="prenom" value="{{ prenom }}">
            </div> 
            <div class="item_formulaire">
                <label for="nom">Nom (facultatif): </label>
                <input type="text" name="nom" maxlength="100" id="nom" value="{{ nom }}">
            </div> 
            <div class="item_formulaire">
                <label for="mail">Adresse mail : </label>
                <input type="email" name="mail" maxlength="100"  id="mail" required value="{{ mail }}">
            </div> 
            <div class="item_formulaire">
                <label for="telephone">Téléphone (facultatif) : </label>
                <input type="txt" name="telephone" maxlength="100"  id="telephone" value="{{ telephone }}">
            </div> 
            <div class="item_formulaire">
                <label for="information">Afficher les informations sur la page des créneaux jeu libre ? </label>
                <input type="checkbox" name="information" id="information" {% if information %} checked {% endif %}>
            </div> 
            <input type="hidden" name="action" value="reglages">
            <input type="submit" value="Valider les changements des réglages"/>
        </form>
    </fieldset>

{% endblock body %}